.contactpage-container {
  height: 100vh;
   background: #f5f5f5;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
  position: relative;
}

.contactpage-hanging-title {
  font-size: 2rem;
  color: #2a2a2a;
  font-family: 'Indie Flower', cursive;
  transform-origin: top center;
  animation: swingContact 5s infinite ease-in-out;
  position: relative;
  margin-top: 10px;
}

/* Pendulum line */
.contactpage-hanging-title::before {
  content: '';
  width: 2px;
  height: 25px;
  background: #222;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

/* Swinging animation */
@keyframes swingContact {
  0%   { transform: rotate(4deg); }
  25%  { transform: rotate(-3deg); }
  50%  { transform: rotate(5deg); }
  75%  { transform: rotate(-2deg); }
  100% { transform: rotate(4deg); }
}
